@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/GothamPro/GothamPro.eot');
    src: url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro.ttf') format('truetype'),
    url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
img {
    max-width: 100%;
    background-repeat: no-repeat ;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
}


html {
    box-sizing: border-box;
    height: 100%;
}

:focus {
    outline: 0;
}

label{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
}
button, input{
    border: none;
    font-size: 100%;
    margin: 0;
    outline: none;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Gotham Pro, sans-serif;
    background-color: #f1f1f1;
}

*, :after, :before {
    box-sizing: border-box;
}
li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.gallery__img{
	height: 100%;
	padding:5px;
}
.gallery__img:hover{
	box-shadow: 0 5px 4.6px 0.4px rgba(23, 24, 25, .2);
   transition: 300ms all ease-in-out;
	
}
.gallery__im{
	width:550px;
	height:367px;
}
 
.container {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #fff;
    padding: 26px 0;
    width: 100%;
    
}

.logo{
    margin-left: 5px;
    width: 100%;
    height: 100%;
}
.logo__icon{
    width: 36px;
    
}
.nav-menu{
    padding-top: 3px;
}
.nav-menu__item{
    display: inline-block;
    margin-left: 35px;
}

.nav-menu__link {
    font-size: 14px;
    color: #48494a;
    text-transform: uppercase;
    font-family: "GothamProBold";
}
.nav-menu__link:hover{
      color: #ffc600;
    }

 
.title {
    display: block;
    padding:0;
    margin:0;
    font-size: 30px;
    line-height: 1.2;
    color: #48494a;
    font-family: "GothamProMedium";
}
.button { 
    color: #fff;
    font-size: 10px;
}

.button_red {
    font-weight: 200;
    font-size: 14px;
    padding: 9px 25px;
    cursor: pointer;
    background-color: #e43030;
    border-radius: 5px;
    box-shadow: 0 6px 10px .50px rgba(250, 25, 25, .45);
    transition: box-shadow .3s ease, transform .1s ease;
}

.button_red:hover {
    box-shadow: none;
    color: #fff;
}

.button_red:active {
    transform: scale(1.05);
}


.card{
    height:100%;
    background-color: #fff;
    box-shadow: 0 5px 4.6px .4px rgba(23, 24, 25, .05);
    transition: box-shadow .3s ease;
    max-width:330px;
    cursor: pointer;
    position: relative;
}

.card:hover {
     box-shadow: 4px 10px 14px 10px rgba(23, 24, 25, .1);
}

.card__head {
    position: relative;
    height: max-content;
    object-fit: cover;
    overflow: hidden;
}
.card__head:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index:1;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.card__img {
    height: 238px;
    
    object-fit: cover;
}
.card__icon{
    height: 100%;
    width: 100%;
}
.card__label {
    font-size: 10px;
    color: #3c3c3c;
    padding: 5px 10px;
    background-color: #ffc600;
    top: 12px;
}
.card__company {
    bottom: 10px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    z-index: 20;
    line-height: 20px;
}
.card__company:hover{
    color: #ffc600;
}
.card__label:before {
    position: absolute;
    content: "";
    left: 0;
    top: 100%;
    z-index:2;
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid #ffc600;
    border-left: 0 solid rgba(0, 0, 0, 0)
}
.card__label, .card__company {
    position: absolute;
    left: 20px;
    font-weight: 600;
    z-index:3;
    text-transform: uppercase;
}

.card__favorite {
    
    display: block;
    top: 5px;
    right: 16px;
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 28px;
    background-color: rgba(0,0,0,.25);
    border-radius: 5px;
}
.card__favorite:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: box-shadow linear 0.3s;
}
.card__heart {

  fill: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
    
}
.card__heart:active{
    fill: #ff0000;
}


.card__footer {
    padding: 12px 20px 23px;
    font-size: 14px;
    font-weight: 200;
    color: #48494a;

}
.card__location{
    
    display: inline-block;
    vertical-align: middle;
}
.card__address {
    font-size: 14px;
    color: #48494a;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.429em;
    height:1.429em;
}
.card__metro {
    position: absolute;
    bottom: 73px;
    right: 22px;
    z-index:13;
}


.price__text{
    color: #161617;
    font-size: 18px;
    background-color: #fffbd7;
    padding: 8px 16px 8px 6px;
    
}

.card__text, .card__price  {
    margin-top:8px;
    display: inline-block;
    vertical-align: middle;
}

.card__text{  
    color: #80848d;
    margin-left: 1px;
    font-size: 12px;
}
.card__text strong{
     font-family: "GothamProBold";
}
.price__text strong {
    margin-left: 5px;
    font-family: "GothamProBold";
}

.section{
    background-image: linear-gradient(90deg,#fafafa 50%,#f1f1f1 0);
    margin-top: 120px;
}

.section-promo {
    background-color: #fafafa;
    padding-top: 53px;
    padding-right: 80px;
    padding-bottom: 56px;
    width: 100%;
    height: 100%;
}


  
    
.promo {
    cursor: pointer;
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 24, 0.05);
    transition: 300ms all ease-in-out;
    transition: 300ms all ease-in-out;
    
}
.promo:hover {
    transition: 300ms all ease-in-out;
    box-shadow: 0px 8px 12.75px 2.25px rgba(23, 24, 24, 0.1);
  }
.promo__head{
    position: relative;
    width: 100%;
    
    overflow: hidden;
}

.promo__img {
    height: 248px;
    object-fit: cover;
}
.promo__img__img{
    height: 100%;
    width: 100%;
}


.promo__head:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
     background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);

    }

.promo__name {
	 font-family: "Gotham Pro";
    font-weight: 600;
    position: absolute;
    bottom: 8px;
    font-size: 15px;
    left: 20px;
    color: white;
    text-transform: uppercase;
    z-index: 6;
    line-height: 20px;
}
.promo__name:hover{
    color: #ffc600;
}
.promo__head .promo__name  {
    bottom: 36px;
    }

   
.promo__info {
    padding: 18px;
}

.promo__text {
   font-family: "Gotham Pro";
   color: #48494a;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1.429em;
    height: 5.716em;    
   font-size: 14px;
}

.promo__date{
    margin-top: 24px;
    color: #80868e;
    font-size: 12px;
}

.form{
    
    height: max-content;
    background-color: #f1f1f1;
    width: 100%;
}
.form--subscription {
     margin-top: 115px;
     max-width: 325px;
}

.form__head{
  	font-size: 100%;
    vertical-align: baseline;
    padding: 20px;
 } 

.form__title{
   font-size: 30px;
   font-family: GothamProMedium;
   color: #48494a;
}
.form__entry{
	font-size:14px;
    color:#48494a;
    margin-top: 18px;
}

.control{
   position: relative;
   display: block;
   width: 100%;
   max-width: 100%;
   padding: 20px;
}
.control__label{
	font-size:14px;
   color:#48494a;
  
}
 .button--submit{
   font-family: "GothamProBold";
   width: 100%;
   max-width: 270px;
   height: 55px;
   background-color: red;
   text-transform: uppercase;
   font-size: 14px;
   text-align: center;   
}

  

.button--submit:hover{
    border-color: #ea0303;
    background-color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(226,13,13,1), rgba(255,0,0,1));
    box-shadow: 0 6px 10px .50px rgba(250, 25, 25, .45);
	
}
.control__field{
	max-width: 270px;
	padding: 20px;
	 margin-top:15px;
	 width: 100%;
	font-size: 14px;
    color: #a2a2a2;
    box-shadow: 0 5px 4.6px 0.4px rgba(23,24,25,.05);
    transition: box-shadow .3s ease,-webkit-box-shadow .3s ease;
    border: 1px solid #fff;
}
label.error {
  color: red;
  font-style: italic;
  margin-left: 5px;
  font-size: 14px;
}

.valid{
	border: 1px solid green;
	background-color:#F0FFF0;
	
}

input.error {
  border: 1px solid red;
  background-color: #fde9ed;
}
label.error{display:block}

.control__field:focus {
   border: 1px solid #aca5a5;
    }




.footer{
    width: 100%;
    padding-top:30px;
    background-color: #fff;
    padding-bottom: 30px;
}

.socials {
    max-width: 175px;
    width: 100%;
    margin: 0 15px 0;
}

.socials__title {
    color: #80868e;
    font-size: 14px;
}
.socials__list{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.socials__item svg{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.socials__item:hover path{
    transition: 300ms all ease-in-out;
    fill: rgb(219,22,63);
}

.developers {
    display: flex;
    line-height: 20px;
    cursor: pointer;
    margin-right: 28px;
    padding-right:50px;
}

.developers__logo {
    margin: 5px 10px 0;
    height: 100%;
}
.developers__img{
    height: 36px;
    
}
.developers__info {
    font-size: 12px;
    color: #80868e;
}

.developers__name {
   font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    color: #121212;
}
.developers__img:hover{
    background-image:linear-gradient( -20deg, rgb(219,22,63) 0%, rgb(165,20,82) 100%);
}






@media (max-width:1200px) {
    .form {
        margin: unset;
        max-width: unset;
        text-align: center;
    }
     
    .control__field {
        max-width: 425px;
    }
    .button--submit {
        max-width: 425px;
    }
}


@media (max-width: 1140px) {
    .section-promo {
        padding-right: 30px;
        margin-right: 30px;
    }
    .form{
    padding-top: 50px;  
    }
}

@media (max-width: 1000px) {
    .title {
        font-size: 20px;
    }
    .promo__head .promo__name{
        bottom: 15px;
    }
    .promo__name{
        font-size: 13px;
    }
     .footer{
       margin-top:20px;
   }
    .developers {
    
    margin-right: 0;
    padding-right:0;
    }
    .section-promo {
  
    margin: 50px 0 0;
 
  }
  .gallery__i{

	height:100px;
}
.gallery__img{
	height: 100%;
	width:50px;
}
}


@media (max-width: 585px) {
   
   
   .gallery__img{
	height: 100%;
	width:45px;
}
    .section-promo {
    margin: 40px 0 0;
    }
    .control{
        padding: 10px;
    }
    .form__title{
        font-size: 20px;
    }
    .form__entry{
        font-size: 13px;
    }
     .nav-menu__link{
        font-size: 12px;
    }
    .nav-menu__item{
    display: inline-block;
    margin-left: 8px;
    }
}
@media (max-width: 576px) {
    .control--submit{
        padding-top: 0;
    }
  
    .form{
    	padding-top:20px;
    }
  
    .socials {
        margin: 0 auto;
        justify-content: center;
    }

    .socials__title {
        text-align: center;
    }
      
}
@media (max-width: 400px) {
    .developers {
        margin-top: 30px;
        padding-right: 0;
    }


}




